h1, p {
    margin-top: 16px;
}


.import {
    margin-bottom: 32px;
    padding-top: 16px;
    display: flex;
    flex-direction: row;

    .path {
        width: 33%;
        margin-right: 16px;
    }
}