.image {
     overflow: scroll;
}
.img {
    z-index: 1;
    position: absolute;

}

img {
    max-width: 2000px !important;
    max-height: 2000px !important;
}

.can {
    z-index: 2;
    position: absolute;

}


canvas {
    background-color: rgba(250, 250, 250, 0);
}

.canvas-acvtive {
    background-color: rgba(250, 250, 250, 0.6);
}