.segemetation {
    display: grid;
    gap: 64px;

    .image {    
        width: calc(50% - 32px);
    }

    .classes {
        font-size: 16px;
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

        .class {
            width: 100%;
            .actions {
                mat-form-field {
                    width: 100%;
                }
            }


        }
    }
}


.submit{
    text-align: right;
}