<h1>Image Classifiaction</h1>

<div *ngIf="service.classes | async as classes; else loading">
    <div class="segemetation" [style.grid-template-columns]="classes.width + 'px auto'">
        <div class="image">
            <app-canvas
            [image]="img"
            [width]="classes.width"
            [height]="classes.height"
            ></app-canvas>
        </div>

        <div class="input">
            <section>
                <mat-checkbox (change)="autoSubmit($event)">Auto Submit</mat-checkbox>
            </section>

            <div class="classes">
                <ng-container *ngIf="classes.classes.length; else noItems" >

                    <div class="class" [class.active]="selected == cls.name" *ngFor="let cls of classes.classes; let i = index" (click)='select(cls.name)'>
                        <p>[{{key[i]}}] {{cls?.name}}</p>
                        <span>{{cls?.desc}}</span>
                    </div>
                </ng-container>
                <ng-template #noItems>No Items!</ng-template>

            </div>
            <div class="submit">
                <app-submit (click)="label()"></app-submit>
            </div>
        </div>
    </div>
</div>
<ng-template #loading>All Jobs Done! || loading animation...</ng-template>