
.data {
    border-bottom: thin solid #555;
}


.image {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 16px;
    padding: 0 16px;

    &:hover {
        background-color: var(--background-02);
        border-radius: 8px;
    }

    .name {
        width: 30%;
        padding: 8px 0;

    }

    .shape {
        width: 10%;
        padding: 8px 0;

    }

    .tasks {
        display: flex;
        flex-direction: row;
        gap: 16px;

        .task {
            padding: 8px 16px;
            background-color: rgba(255, 0, 0, 0.38);
            border-radius: 20em;
        }

        .done {
            background-color: rgba(0, 153, 13, 0.35);
        }
    }
}


.details {
    margin: 16px 16px 0 16px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    grid-template-rows: 1fr;

    .img {
        width: 256px;
        height: 288px;

        .header{
            display: flex;
            flex-direction: row;
            line-height: 64px;
            margin-bottom: 16px;

            h2 {
                margin: 0;
                margin-right: 16px;
            }


        }

        img {
            max-height: 256px;
            max-width: 256px;

        }

        .dummy {
            max-width: 100%;
            max-height: 100%;
        }

        .text {
            font-size: 16px;
            font-weight: bolder;
            color: #aaa;
        }
    }
}


.key-value {
    margin-bottom: 8px;
    .key {
        margin-right: 16px;
    }
}

